/* акцент #2196F3 */
/* основной цвет #757575 */
/* вторичный цвет #212121 */
/* баннер и фон футера #2F303A */
/* фон страницы светлый #E5E5E5 и серый #F5F4FA, фон хедера #FFFFFF */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --text-white-color: #fff;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* logo */
.logo {
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link,
.contacts .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */
.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.footer .contacts .link {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* banner */
.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
}

/* button */
.button-title {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */
.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

/* team */
.team {
  text-align: center;
}

.team .title {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
}

/* portfolio navigation */
.portfolio-nav .button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

/* portfolio - projects */
.projects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
